.navPusher > :first-child {
    flex-grow: 1;
}

.homepage_warp {
  padding-top: 20%;
  text-align: center;
}

.homepage_warp .homepage_title {
  font-size: 46px;
  color: 000;
}

.homepage_warp .homepage_desc {
  font-size: 20px;
  color: #333;
  line-height: 36px;
}

.homepage_warp .homepage_quickstart {
  font-size: 26px;
  color: #333;
  border: 1px solid #e6e6e6;
  padding: 10px 20px;
  display: inline-block;
  margin: 20px auto;
  border-radius: 10px;
  cursor: pointer;
}
